.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

.scoreBar {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 25px;
  font-size: 28px;
}

button {
  background: black;
  color: white;
  border: 2px solid cyan;
  padding: 8px 18px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

button:hover {
  background: cyan;
  color: black;
}

.blue {
  color: cyan;
  text-shadow: 0 0 10px cyan;
}

.red {
  color: #ff3366;
  text-shadow: 0 0 10px #ff3366;
}

.board {
  width: 420px;
  height: 420px;
  display: grid;
  grid-template-columns: repeat(3, 140px);
  grid-template-rows: repeat(3, 140px);
  position: relative;
}

.cell {
  border: 2px solid cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  cursor: pointer;
  transition: 0.15s;
}

.cell:hover {
  background: rgba(0, 255, 255, 0.1);
  box-shadow: 0 0 12px cyan inset;
}

.glow {
  animation: pop 0.15s ease;
}

@keyframes pop {
  0% { transform: scale(0.4); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

/* WIN LINE */
.winLine {
  position: absolute;
  background: cyan;
  box-shadow: 0 0 15px cyan;
  border-radius: 8px;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

/* ROW wins */
.row0 { width: 100%; height: 6px; top: 70px; left: 0; opacity: 1; transform: scale(1); }
.row1 { width: 100%; height: 6px; top: 210px; left: 0; opacity: 1; transform: scale(1); }
.row2 { width: 100%; height: 6px; top: 350px; left: 0; opacity: 1; transform: scale(1); }

/* COLUMN wins */
.col0 { height: 100%; width: 6px; left: 70px; top: 0; opacity: 1; transform: scale(1); }
.col1 { height: 100%; width: 6px; left: 210px; top: 0; opacity: 1; transform: scale(1); }
.col2 { height: 100%; width: 6px; left: 350px; top: 0; opacity: 1; transform: scale(1); }

/* DIAGONALS */
.diag1 {
  width: 6px;
  height: 150%;
  top: -60px;
  left: 207px;
  transform-origin: center;
  transform: rotate(45deg);
  opacity: 1;
}

.diag2 {
  width: 6px;
  height: 150%;
  top: -60px;
  left: 207px;
  transform-origin: center;
  transform: rotate(-45deg);
  opacity: 1;
}
